In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info = pd.read_csv('backer_info.csv')

display(backers_info)

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [3]:
## In the directions, and what was given on the module information, it was requested to convert the dataframe into a dictionary
## and THEN iterate through, creating a LIST of VALUES. I read this as an actual list, containing the VALUES (ie:key:value pairing)
## and created this from there. I went ahead and cleaned up the lists in the first function.


# Iterate through the backers DataFrame and convert each row to a dictionary.
backers = backers_info['backer_info'].to_dict()

# An alternate method of this is this:
# backers_value=[]
#     # Iterate through each dictionary (row) and get the values for each row using list comprehension.
# for i, row in backer_df.iterrows():
#     data=row['backer_info']
#     converted_data=json.loads(data)

backer_id = [backer_id for backer_id in backers.values()]
backer_id

backer_id_list = []
cf_id_list = []
name_list = []
email_list = []
# """
# -function for parsing the converted dataframe into dictionaries values. Create an initial sublist to remove :, leveraging 
# this on the next line by splitting the key value pairs by the newly established ','. For loop parses the length of the 
# list. For each established list of values we are trying to obtain, we are searching for their unique values using indexes, and 
# then cleaning the data based on the dataframe above.
# """
def butts(): 
    for backer in backers.values():
        sub_list = backer.replace(":", ",")
#         print(sub_list)
        sl2 = sub_list.split(',')
#         print(sub_list_2)
        for index in range(1, len(sl2), 2):
#             print(sl2[1])
            backer_id_list.append(sl2[1].replace('"','').replace(' ',''))
            cf_id_list.append(sl2[3].replace(' ',''))
            name_list.append(sl2[5].replace('"','').lstrip())
            email_list.append(sl2[7].replace('"','').replace('}','').replace(' ',''))
    
butts()
dictionary_list = []
# print(backer_id_list)
def beepbeep(backer_id_list, cf_id_list, name_list, email_list):
# """
# -For statement takes in four different list of values found and extracts the values and put them into a new list of dictionaries
# with their values and keys automatically paired up 
# -x=0 statement and if x>10, acts as a control statement so when debugging our code we don't have to iterate through
# thousands of lines in the dataframe. The code exits after ten iterations, and returns the results so that we can configure the 
# rest of the logic to clean up the code.
# """
#     x=0
    for index in range(len(backer_id_list)):
        new_dictionary = {'backer_id': backer_id_list[index], 'cf_id': cf_id_list[index], 'name': name_list[index], 'email': email_list[index]}
        dictionary_list.append(new_dictionary)
#         if x>10:
#             break
#         else:
#             x+=1
#         print(new_dictionary)
beepbeep(backer_id_list, cf_id_list, name_list, email_list)


## Mitigating/ cleaning up the action of the for loops/ensuring that there are no duplicates across all the rows.
## Set() unlike lists or tupes cannot have multiples occurrences of the same element. Key established as iterator iterating 
## 'backer_id' and 'cf_id'. We want two columns because there may be certain values that repeat on purpose, so you want to
## choose values that are purposely unique like the name, or the id. These are used to control any duplicates because you 
## cannot store the same value twice in a set. Once the ID or name is found again, it skips over that record, effectively
## deleting the duplicate. Then we add any unique records to the results list, and thats the new duplicate free list of values.

seen = set()
result = []
for dic in dictionary_list:
    key = (dic['backer_id'], dic['cf_id'])
    if key in seen:
        continue
    result.append(dic)
    seen.add(key)
    

# print(result)
# print(dictionary_list[:10])
#Check that its an actual dictionary and not a string of shit :) 
# print(type(dictionary_list[0]))

#Iterate through each dictionary (row) and get the values for each row using list comprehension.
# Append the list of values for each row to a list. 
values_list = []
for x in result:
    values=x.values()
    itdr = [x for x in values]
    values_list.append(itdr)
print(values_list[:100])


# Append the list of values for each row to a list.
# An alternative method of this is:
#     backer_values.append(converted_data)
# # Print out the list of values for each row.
# print(backer_value)
    
##LSTRIP IS PRETTY IMBALANCED##

[['av166', '968', 'Angelo Vincent', 'avincent@live.com'], ['ha127', '563', 'Hubert Arnold', 'harnold@yandex.com'], ['lg794', '65', 'Loris Goulet', 'lgoulet@yandex.com'], ['tb566', '563', 'Teodora Brunelli', 'tbrunelli@outlook.com'], ['lh506', '563', 'Lexie Hunt', 'lhunt@live.com'], ['lh382', '563', 'Lambert Huber', 'lhuber@live.com'], ['em444', '563', 'Emmy Morin', 'emorin@live.com'], ['at582', '1572', 'Armonda Trani', 'atrani@live.com'], ['id772', '1911', 'Ilana Duke', 'iduke@outlook.com'], ['lw275', '65', 'Leigha Wright', 'lwright@live.com'], ['ub509', '65', 'Uwe Becker', 'ubecker@yahoo.com'], ['ha915', '1572', 'Hawa Audy', 'haudy@gmail.com'], ['bb881', '968', 'Bia Bonura', 'bbonura@yahoo.com'], ['mg332', '65', 'Michel Garner', 'mgarner@protonmail.com'], ['kd700', '1572', 'Karole Dunn', 'kdunn@yahoo.com'], ['as695', '563', 'Arndt Schreiber', 'aschreiber@yahoo.com'], ['iv513', '65', 'Imen Villeneuve', 'ivilleneuve@yahoo.com'], ['ab842', '65', 'Alcina Bonadonna', 'abonadonna@yandex.com'], ['re181', '1114', 'Raelene Espinoza', 'respinoza@outlook.com'], ['kn133', '65', 'Kati Nash', 'knash@protonmail.com'], ['gj893', '65', 'Georg Jager', 'gjager@yahoo.com'], ['vp915', '948', 'Virgilio Paolella', 'vpaolella@gmail.com'], ['ja995', '563', 'Jerrica Avila', 'javila@protonmail.com'], ['ga249', '563', 'Gianni Achterberg', 'gachterberg@live.com'], ['td403', '65', 'Timoteo Dion', 'tdion@gmail.com'], ['tv463', '1572', 'Teodoro Verno', 'tverno@yandex.com'], ['mw606', '65', 'Morris Waller', 'mwaller@protonmail.com'], ['hc648', '65', 'Hans Chen', 'hchen@yandex.com'], ['ta379', '563', 'Trilby Auer', 'tauer@yahoo.com'], ['tj583', '1572', 'Theola Jodoin', 'tjodoin@yandex.com'], ['tc559', '65', 'Tova Capri', 'tcapri@live.com'], ['ww629', '65', 'Wanda Walton', 'wwalton@protonmail.com'], ['jg155', '1572', 'Justine Gill', 'jgill@yahoo.com'], ['jd328', '1911', 'Julee Doyle', 'jdoyle@gmail.com'], ['ld239', '65', 'Lisbeth Deliso', 'ldeliso@gmail.com'], ['cv918', '968', 'Carl Valdez', 'cvaldez@gmail.com'], ['kb145', '563', 'Kelyan Butler', 'kbutler@yahoo.com'], ['dw578', '65', 'Donat Weber', 'dweber@live.com'], ['ad511', '65', 'Alethia Delorme', 'adelorme@outlook.com'], ['db633', '65', 'Darrell Bernardi', 'dbernardi@yandex.com'], ['cr369', '65', 'Carina Reeves', 'creeves@gmail.com'], ['mr978', '65', 'Marvin Ruiz', 'mruiz@outlook.com'], ['md167', '1572', 'Mariabella Duerr', 'mduerr@live.com'], ['jr877', '1572', 'Jeni Ricco', 'jricco@live.com'], ['om753', '65', 'Otto Munoz', 'omunoz@yahoo.com'], ['ng231', '1114', 'Nesrine Gensch', 'ngensch@yandex.com'], ['tl316', '65', 'Tullio Lejeune', 'tlejeune@outlook.com'], ['dl139', '563', 'Dreama Lonardo', 'dlonardo@live.com'], ['mw253', '968', 'Maryrose West', 'mwest@live.com'], ['im424', '65', 'Irina Mays', 'imays@yandex.com'], ['mb131', '968', 'Marcelo Brose', 'mbrose@protonmail.com'], ['nc240', '1572', 'Nestor Coutant', 'ncoutant@gmail.com'], ['ab318', '1572', 'Aloysius Braun', 'abraun@live.com'], ['af301', '65', 'Amos Ferre', 'aferre@gmail.com'], ['bl736', '563', 'Brigitte Lynch', 'blynch@outlook.com'], ['ar957', '65', 'Alegra Ramsey', 'aramsey@yahoo.com'], ['cb474', '968', 'Conchita Beitel', 'cbeitel@gmail.com'], ['dv246', '1572', 'Donnie Vernet', 'dvernet@protonmail.com'], ['cj111', '563', 'Cyril Jones', 'cjones@protonmail.com'], ['lh765', '563', 'Lucinda Hays', 'lhays@outlook.com'], ['wh697', '65', 'Walter Hermann', 'whermann@outlook.com'], ['eb714', '65', 'Emil Blanc', 'eblanc@protonmail.com'], ['ec356', '1572', 'Eldwin Cesare', 'ecesare@protonmail.com'], ['yh129', '65', 'Yusuf Hudson', 'yhudson@protonmail.com'], ['as494', '65', 'Arrigo Salazar', 'asalazar@gmail.com'], ['lb146', '563', 'Levi Beck', 'lbeck@gmail.com'], ['cc470', '563', 'Celinda Caillet', 'ccaillet@yandex.com'], ['mm239', '563', 'Marcus Medici', 'mmedici@gmail.com'], ['dg360', '65', 'Daysi Gamble', 'dgamble@yahoo.com'], ['rh399', '1572', 'Rory Hildebrand', 'rhildebrand@yahoo.com'], ['hr430', '65', 'Heini Raffin', 'hraffin@yahoo.com'], ['ar829', '65', 'Anna Randall', 'arandall@outlook.com'], ['sw301', '65', 'Sharmaine Weber', 'sweber@yahoo.com'], ['rr355', '65', 'Ranee Renault', 'rrenault@outlook.com'], ['zc515', '1572', 'Zak Cianciola', 'zcianciola@yahoo.com'], ['gp101', '65', 'Granville Potts', 'gpotts@gmail.com'], ['bm741', '65', 'Bo Marsh', 'bmarsh@live.com'], ['jd148', '65', 'Jay Duerr', 'jduerr@yahoo.com'], ['mm632', '65', 'Milla Morin', 'mmorin@yahoo.com'], ['ls884', '65', 'Leanne Savage', 'lsavage@gmail.com'], ['sp364', '968', 'Silvana Patton', 'spatton@live.com'], ['hh963', '65', 'Harvey Hoch', 'hhoch@outlook.com'], ['sb272', '65', 'Seth Berthier', 'sberthier@protonmail.com'], ['et566', '1114', 'Eugen Trani', 'etrani@protonmail.com'], ['sd421', '1572', 'Santina Dieter', 'sdieter@yahoo.com'], ['tg563', '65', 'Trinh Gregoire', 'tgregoire@live.com'], ['kc571', '968', 'Karin Celano', 'kcelano@yandex.com'], ['sd121', '1114', 'Sofia Decker', 'sdecker@yahoo.com'], ['sk744', '65', 'Sherise Keller', 'skeller@outlook.com'], ['km642', '65', 'Kirby Michel', 'kmichel@gmail.com'], ['fu320', '65', 'Florentine Ungaro', 'fungaro@yandex.com'], ['ld180', '1911', 'Louise Dejesus', 'ldejesus@yandex.com'], ['ds377', '65', 'Daniele Suarez', 'dsuarez@yahoo.com'], ['bb692', '65', 'Beckie Buchholz', 'bbuchholz@live.com'], ['wd557', '563', 'William Dickson', 'wdickson@yandex.com'], ['jd905', '65', 'Jolie Daugherty', 'jdaugherty@gmail.com'], ['dd770', '65', 'Detta Dressler', 'ddressler@yahoo.com'], ['cv698', '238', 'Clifton Villette', 'cvillette@outlook.com'], ['cn307', '968', 'Cythia Netti', 'cnetti@outlook.com'], ['eb198', '1572', 'Elsbeth Butler', 'ebutler@yahoo.com']]

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. df = pd.DataFrame (list_name, columns = ['column_name'])
backers_df = pd.DataFrame(values_list, columns = ['backer_id','cf_id','name','email'])

# backers_df.drop(columns='index')
backers_df.head(10)

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com
5     lh382   563     Lambert Huber        lhuber@live.com
6     em444   563        Emmy Morin        emorin@live.com
7     at582  1572     Armonda Trani        atrani@live.com
8     id772  1911        Ilana Duke      iduke@outlook.com
9     lw275    65     Leigha Wright       lwright@live.com

In [24]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# campaign_cleaned.to_csv('campaign.csv', encoding='utf-8',index=False)
backers_df.to_csv('backer_info.csv', encoding='utf-8',index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [6]:
# Get the backers_info from the crowdfunding_info sheet.

In [7]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [11]:
# Create a new DataFrame with the appropriate columns.

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types.
backers_df.dtypes

display(backers_df)

     backer_id cf_id              name                  email
0        av166   968    Angelo Vincent      avincent@live.com
1        ha127   563     Hubert Arnold     harnold@yandex.com
2        lg794    65      Loris Goulet     lgoulet@yandex.com
3        tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506   563        Lexie Hunt         lhunt@live.com
...        ...   ...               ...                    ...
8170     st581    65   Serita Thebault   sthebault@yandex.com
8171     gf637   563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983  1114       Robt Collin    rcollin@outlook.com
8173     cz381    65      Corina Zappa     czappa@outlook.com
8174     fg535    65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [14]:
# Convert cf_id to an integer if necessary.


backers_df['cf_id'] = pd.to_numeric(backers_df['cf_id'])
backers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.


backers_df[['first_name', 'last_name']] = backers_df['name'].str.split(' ', n=1, expand=True) 
backers_df

## Paying homage to lstrip- when trying to perform this without lstrip, and removing extra whitespace around
## all the strings, it was splitting the string into three strings and trying to cram multiple strings into
## one column, giving me the error "Columns must be the same length as key."

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex.com,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo.com,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook.com,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook.com,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook.com,Freeman,Gibbs

In [16]:
#  Drop the name column

backers_df = backers_df.drop(['name'], axis=1)
backers_df

     backer_id  cf_id                  email first_name  last_name
0        av166    968      avincent@live.com     Angelo    Vincent
1        ha127    563     harnold@yandex.com     Hubert     Arnold
2        lg794     65     lgoulet@yandex.com      Loris     Goulet
3        tb566    563  tbrunelli@outlook.com    Teodora   Brunelli
4        lh506    563         lhunt@live.com      Lexie       Hunt
...        ...    ...                    ...        ...        ...
8170     st581     65   sthebault@yandex.com     Serita   Thebault
8171     gf637    563   gfoerstner@yahoo.com      Glenn  Foerstner
8172     rc983   1114    rcollin@outlook.com       Robt     Collin
8173     cz381     65     czappa@outlook.com     Corina      Zappa
8174     fg535     65     fgibbs@outlook.com    Freeman      Gibbs

[8175 rows x 5 columns]

In [22]:
# Reorder the columns
#"backer_id", "cf_id", "first_name", "last_name" and "email".

columnsTitles = ['backer_id','cf_id','first_name','last_name','email']
backers_df2 = backers_df.reindex(columns=columnsTitles)
backers_df2.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [23]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# contacts_df_clean.to_csv('contacts.csv', encoding='utf-8',index=False)
backers_df2.to_csv('backers.csv', encoding='utf-8',index=False)